@model mydesire.Models.ApplicationUser
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<h2>Редактирование пользователя</h2>

<h4>Информация о пользователе</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            @Html.DisplayFor(r => r.Rating);
        </div>*@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AccessFailedCount" />
            <input type="hidden" asp-for="ConcurrencyStamp" />
            <input type="hidden" asp-for="NormalizedEmail" />
            <input type="hidden" asp-for="NormalizedUserName" />
            <input type="hidden" asp-for="PasswordHash" />
            <input type="hidden" asp-for="SecurityStamp" />
            <input type="hidden" asp-for="UserName" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

